@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #f7f4f4;
}

.chat-uol {

    background-color: #f7f4f4;
}

header {
    background-color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 20px #5c5858;
    position: sticky;
    top: 0;
}

.logo {
    margin-right: 95px;
}

.friendlist {
    margin-left: 95px;
}

.chat {
    height: 100%;
}

.name-chat {
    font-weight: bold;
    padding: 0px 4px;
    min-width: 40px;
}

.tempo-chat {
    color: #AAAAAA;
    min-width: 40px;
}

footer {
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 20px #b9b5b5;
    position: sticky;
    bottom: 0;
}

.escrever input{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-right: 25px;
    outline: none;
    border: none;
}

.ionicon {
    font-size: 26px;
    margin-left: 25px;
}

.escrever input::placeholder {
    font-style: italic;
    color: #000000;
}

button {
    border: none;
    background-color: white;
}

.todas-msgs {
    min-width: 375px;
    min-height: 40px;
    background-color: white;
    margin-bottom: 5px;
    word-break: break-all;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.status {
    background-color: #DCDCDC;
}

.private {
    background-color: #FFDEDE;
}